<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Wedgelock - Boris Bezet</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="the flying scot, the scot, scot, the flying scott, the scott, scott, bicycle, cycle, classic bicycle, classic cycle, lightweight cycle, lightweight bicycle, glasgow, scotland, framebuilders, cycle manufacturer, david rattray, rattray, jack smith, scottish, campagnolo, masi, campagnolo, simplex,  " />
<meta name="Description" content="This site is dedicated to Scotland's one and only medium sized specialist lightweight cycle builder, David Rattray & Co. For over 60 years the supplied many of Scotlands cyclist with what was considered  then as being high-end cycle frames and accessories." />

</head>
<body bgcolor="#000033" background="../../../../common/images/fadeback.gif" text="#CCFFFF" link="#CCCCFF"
vlink="#CCCCFF" alink="#CCCCFF" onload="MM_preloadImages('../../../../core/page_images/button_brt.gif')">
<div align="center"><font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html"><img src="../../../../core/page_images/page_blk_tfr_dk.gif" alt="Scot Banner"
      width="500" height="56" border="0" align="middle" /></a></strong></font><br />
  <br />
  <table width="700" border="0" align="center">
    <tr> 
      <td width="700" height="776" valign="top"> <p align="center"><font size="-1" face="Verdana, sans-serif"><b><font size="3"><em><font color="#9999ff" size="+1"><font size="-1" face="Verdana, sans-serif"><b><font size="3"><em><font color="#9999ff" size="+1">FINGERSLIDE 
          CRANKS &amp; WEDGE-LOCK SPINDLE </font></em></font></b></font><font size="-1"><br />
          <img src="../../../../common/logos/btc.gif" width="89" height="86" hspace="20" /><br />
          </font></font></em><font size="+1"><font size="-1" face="Verdana, sans-serif"><b><font size="3"><font color="#9999ff" size="-1">CYCLE 
          TRADING LTD.</font><font color="#9999ff" size="-1" face="Verdana, sans-serif"><b><br />
          Moons Lane<br />
          Brighton Road</b></font><font color="#9999ff" size="-1"><br />
          </font></font></b></font><font color="#9999ff" size="-1">Horsham<br />
          Sussex.</font></font><font color="#9999ff" size="+1"><em> </em></font></font></b></font></p>
        <table width="700" border="0" cellspacing="5">
          <tr> 
            <td><font color="#9999ff" size="-1" face="Verdana, sans-serif"><strong>Detail 
              &amp; Price List (1957)</strong></font></td>
          </tr>
        </table>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><b><font size="3"><em><font color="#9999ff"><img src="../images/wedge_2.jpg" width="600" height="766" /><br />
          </font></em></font></b><font size="3"><font color="#9999ff" size="-2">Detail 
          &amp; Price List courtesy of Hilary Stone</font></font></font></p>
        <table width="700" border="0" cellspacing="5">
          <tr> 
            <td><font color="#9999ff" size="-1" face="Verdana, sans-serif"><strong>Installation 
              Sheet (1957)</strong></font></td>
          </tr>
        </table>
        <p align="center"><img src="../images/wedge_1.jpg" width="600" height="849" /> 
          <br />
          <font size="-1" face="Verdana, sans-serif"><font size="3"><font color="#9999ff" size="-2">Installation 
          Sheet courtesy of Hilary Stone</font></font></font></p>
        <table width="700" border="0" cellspacing="5">
          <tr> 
            <td><font color="#9999ff" size="-1" face="Verdana, sans-serif"><strong>Original 
              Patent for the &quot;WEDGE-LOCK&quot; Spindle </strong></font></td>
          </tr>
        </table>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><b><img src="../../patents/gb782325_drg.jpg" width="500" height="554" /></b></font><br />
          <br />
          <img src="../../patents/gb782325_1.jpg" width="500" height="751" /> <br />
          <br />
          <img src="../../patents/gb782325_2.jpg" width="500" height="764" /> <br />
          <br />
          <img src="../../patents/gb782325_3.jpg" width="500" height="663" /> <br />
        </p>
        <div align="center"> 
          <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr> 
              <td width="80" nowrap="nowrap"> <p> 
                  <center>
                    <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="home_butn" name="home_butn" width="35" height="34" border="0" id="home_butn" /><br />
                    </a><a href="../../../../core/welcome.html">Home</a> </strong> </font> 
                  </center>
                </p></td>
              <td width="80" nowrap="nowrap"> <p> 
                  <center>
                    <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/history.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('hist_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="History" name="hist_butn" width="35" height="34" border="0" id="hist_butn" /><br />
                    </a><a href="../../../../core/history.html">History</a> </strong></font> 
                  </center>
                </p></td>
              <td width="80" nowrap="nowrap"> <p> 
                  <center>
                    <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/models.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('modls_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Models" name="modls_butn" width="35" height="34" border="0" id="modls_butn" /><br />
                    </a><a href="../../../../core/models.html">Models</a> </strong> </font> 
                  </center>
                </p></td>
              <td width="80" nowrap="nowrap"> <p> 
                  <center>
                    <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/gallery.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('glry_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Gallery" name="glry_butn" width="35" height="34" border="0" id="glry_butn" /><br />
                    </a><a href="../../../../core/gallery.html">Gallery</a> </strong> </font> 
                  </center>
                </p></td>
              <td width="80" nowrap="nowrap"> <p> 
                  <center>
                    <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/identify.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('idntfy_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Identify" name="idntfy_butn" width="35" height="34" border="0" id="idntfy_butn" /><br />
                    </a><a href="../../../../core/identify.html">Identify</a> </strong> </font> 
                  </center>
                </p></td>
              <td width="80" nowrap="nowrap"> <p> 
                  <center>
                    <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/articles.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('art_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Articles" name="art_butn" width="35" height="34" border="0" id="art_butn" /><br />
                    </a><a href="../../../../core/articles.html">Articles</a> </strong> </font> 
                  </center>
                </p></td>
              <td width="80" nowrap="nowrap"> <p> 
                  <center>
                    <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/links.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('lnks_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Links" name="lnks_butn" width="35" height="34" border="0" id="lnks_butn" /><br />
                    </a><a href="../../../../core/links.html">Links</a> </strong> </font> 
                  </center>
                </p></td>
              <td width="80" nowrap="nowrap"> <p> 
                  <center>
                    <font size="-1" face="Verdana, sans-serif"><strong><a href="mailto:bobreid@flying-scot.com" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('cntct_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Contact" name="cntct_butn" width="35" height="34" border="0" id="cntct_butn" /><br />
                    </a><a href="mailto:bobreid@flying-scot.com">Contact</a> 
                    </strong> </font> 
                  </center>
                </p></td>
            </tr>
          </table>
        </div>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html"><img src="../../../../core/page_images/scot_3dflag.gif" alt="St.Andrews Cross" width="36" height="25" border="0" align="middle" /></a><br />
          <font color="#9999ff"><br />
          </font></strong><font color="#9999ff" size="-2">Copyright &copy; 1999-2003 
          R.Reid Last Updated 
          <!-- #BeginDate format:fcEn2m -->Sunday, 04-Jan-2004  23:03<!-- #EndDate -->
          hrs.</font></font></p></td>
    </tr>
  </table>
</div>
</body>
</html>
