<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cyclo Benelux Gears</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="the flying scot, the scot, scot, the flying scott, the scott, scott, bicycle, cycle, classic bicycle, classic cycle, lightweight cycle, lightweight bicycle, glasgow, scotland, framebuilders, cycle manufacturer, david rattray, rattray, jack smith, scottish, campagnolo, masi, campagnolo, simplex,  " />
<meta name="Description" content="This site is dedicated to Scotland's one and only medium sized specialist lightweight cycle builder, David Rattray & Co. For over 60 years the supplied many of Scotlands cyclist with what was considered  then as being high-end cycle frames and accessories." />
<script language="JavaScript" type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

//-->
</script>
<script language="JavaScript" type="text/javascript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body bgcolor="#F4F4FF" background="../../../../common/misc/lilac_thistle.jpg" text="#000066" link="#990099"
vlink="#990099" alink="#990099" onload="MM_preloadImages('../../../../common/buttons/badge_brt.gif','../../../../core/page_images/button_brt.gif')">
<table width="750" border="0" align="center">
  <tr> 
    <td valign="top"> <p align="center"><font size="-1" face="Arial, Helvetica, sans-serif"><img src="../../../../common/misc/page_blk_tfr.gif" alt="Header" width="500" height="56" /><br />
        <br />
        <strong>CYCLO-BENELUX GEARS</strong></font></p>
      <center>
        <p align="center"><font size="-1" face="Arial, Helvetica, sans-serif"><img src="../../../../common/logos/bene_ban.gif" alt="Benelux Band" width="595" height="60" align="bottom" /></font></p>
        <p align="justify"><font size="-1" face="Arial, Helvetica, sans-serif">"Benelux" 
          was a brand name used by the Cyclo Gear Co.Ltd, of Birmingham, England. 
          Introduced in 1949 along with the first of the Cyclo "Benelux" rear 
          derailleurs, it was initially applied to those products aimed at the 
          more 'sporting' end of the market.</font></p>
        <div align="left">
          <table border="0" width="750">
            <tr> 
              <td width="339"> <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><b><img src="../images/cyclo_benelux.gif" alt="Original Benelux" width="300" height="406" align="top" /></b></font> 
                </center></td>
              <td valign="top" width="339"> <p><font size="-1" face="Arial, Helvetica, sans-serif"><b>"Benelux" 
                  </b>(Original 1949 version)</font></p></td>
            </tr>
            <tr> 
              <td width="339"> <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><img src="../images/cyclo_mk7.gif" alt="Benelux Mk7" width="300" height="460" align="bottom" /></font> 
                </center></td>
              <td valign="top" width="339"> <p><font size="-1" face="Arial, Helvetica, sans-serif"><b>Benelux 
                  "Mark 7"<br />
                  <br />
                  </b>Available in four types ; </font></p>
                <p><font size="-1" face="Arial, Helvetica, sans-serif">3-speed 
                  (1/8" chain)<br />
                  4-speed (1/8" chain)<br />
                  4-speed (3/32" chain)<br />
                  5-speed (3/32" chain)</font></p>
                <p><font size="-1" face="Arial, Helvetica, sans-serif">Recommended 
                  freewheel sizes<br />
                  <br />
                  1/2 x 1/8 inch chain - 3 &amp; 4-speed 14-20<br />
                  1/2 x 3/32 inch chain - 4-speed 14-20, 5-speed 14-22</font></p>
                <p><font size="-1" face="Arial, Helvetica, sans-serif">Range = 
                  14-24 teeth on freewheel, 4-tooth difference on chainwheel &amp; 
                  14-tooth overall.<br />
                  <br />
                  Improvements shown were ; toggle chain replacement costs reduced, 
                  easily adjustable to different ratios, easier lateral adjustment, 
                  improved design of chainguard, flush cage, and 10% lighter. 
                  </font></p></td>
            </tr>
            <tr> 
              <td width="339"> <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><img src="../images/cyclo_s60_line.gif" alt="Benelux Super 60" width="300" height="336" align="bottom" /></font> 
                </center></td>
              <td valign="top" width="339"> <p><font size="-1" face="Arial, Helvetica, sans-serif"><b>Benelux 
                  "Super 60"<br />
                  <br />
                  </b>First Cyclo design of 'pantograph' derailleur, and with 
                  pre-set chain tension.<br />
                  <br />
                  Available in two types ; </font></p>
                <p><font size="-1" face="Arial, Helvetica, sans-serif">4-speed 
                  (3/32" chain)<br />
                  5-speed (3/32" chain)</font></p>
                <p><font size="-1" face="Arial, Helvetica, sans-serif">Recommended 
                  freewheel sizes<br />
                  <br />
                  1/2 x 3/32 inch chain - 4-speed 14-23, 5-speed 14-25</font></p>
                <p><font size="-1" face="Arial, Helvetica, sans-serif">Range = 
                  13-26 teeth on freewheel, 4-tooth difference on chainwheel &amp; 
                  17-tooth overall.<br />
                  <br />
                  </font></p></td>
            </tr>
            <tr> 
              <td width="339"> <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><img src="../images/cyclo_p2.gif" alt="Benelux Sport P2" width="300" height="657" align="top" /></font> 
                </center></td>
              <td valign="top" width="339"> <p><font size="-1" face="Arial, Helvetica, sans-serif"><b>Benelux 
                  "Sport P2"</b></font></p></td>
            </tr>
          </table>
        </div>
        <p align="left"><font size="-1" face="Arial, Helvetica, sans-serif">Although 
          both the French and British Cyclo companies continued for a long number 
          of years to use the corporate 'Cyclo' logo, they were no longer part 
          of the same concern.</font></p>
        <p align="left"><font size="-1" face="Arial, Helvetica, sans-serif">Sadly 
          in November 1999, Cyclo succumbed to voluntary liquidation with the 
          loss of 30 jobs. The name lives on however, having been bought by the 
          British tool and accessories company Weldtite the following month.<br />
          <br />
          <img src="../images/cyclo_fd_1.gif" alt="Benelux Front Mech" width="350" height="275" align="bottom" /><br />
          <br />
          <br />
          There were a whole sequence of Cyclo Benelux racing derailleurs and 
          a few touring ones too. And several varieties of front derailleur. Initially 
          they launched one racing rear derailleur with a fairly straight aluminium 
          arm - this what I have on sale on Ebay right now. It was replaced less 
          than a year later by one with a cranked aluminium arm. In 1953 they 
          replaced this with a cranked steel arm version - one of which I will 
          be offering to CR members this afternoon. Slightly later (1955ish from 
          memory) this was updated by the Mark VII and there was a Mark 12 which 
          was adjustable for </font><font size="-1" face="Arial, Helvetica, sans-serif">different 
          freewheels.</font></p>
        <p align="left"><font size="-1" face="Arial, Helvetica, sans-serif"><b>Louis 
          Camillis<br />
          <br />
          1920 </b>- 91, Soho Hill, Birmingham : First patent (GB174760) was applied 
          for - 5 November 1920.</font></p>
        <p align="left"><font size="-1" face="Arial, Helvetica, sans-serif"><b>1931</b> 
          - 10, Soho Road, Birmingham</font></p>
        <p align="left"><font size="-1" face="Arial, Helvetica, sans-serif"><b>1933</b> 
          - 92, Bath Street, Birmingham</font></p>
        <p align="left"><font size="-1" face="Arial, Helvetica, sans-serif"><b>1934</b> 
          - Potters Hill, Birmingham - Shown as "Managing Director" of Cyclo Gear 
          Co.Ltd.<br />
          <br />
          <b>1944 </b>- 36, Gibson Road, Handsworth, Birmingham</font></p>
        <p align="left"><font size="-1" face="Arial, Helvetica, sans-serif"><b>1952</b> 
          - Potters Hill, Aston, Birmingham</font></p>
        <p align="center"><font size="-1" face="Arial, Helvetica, sans-serif"><br />
          </font><font size="-1" face="Arial, Helvetica, sans-serif"><strong><img src="../../../../common/buttons/badge_dull.gif" alt="Articles" name="Image118" width="35" height="41" border="0" id="Image11" /></strong><br />
          Return to ????? Page</font> </p>
        <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr> 
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><strong><a href="../../../../core/welcome.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1181','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Home" name="Image1181" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/welcome.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/welcome.html">Home</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><strong><a href="../../../../core/history.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11811','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="History" name="Image11811" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/history.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('hist_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/history.html">History</a> </strong></font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><strong><a href="../../../../core/models.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11812','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Models" name="Image11812" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/models.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('modls_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/models.html">Models</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><strong><a href="../../../../core/gallery.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11813','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Gallery" name="Image11813" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/gallery.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('glry_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/gallery.html">Gallery</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><strong><a href="../../../../core/identify.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11814','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Identify" name="Image11814" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/identify.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('idntfy_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/identify.html">Identify</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><strong><a href="../../../../core/articles.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11815','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Articles" name="Image11815" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/articles.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('art_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/articles.html">Articles</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><strong><a href="../../../../core/links.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11816','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Links" name="Image11816" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/links.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('lnks_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/links.html">Links</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Arial, Helvetica, sans-serif"><strong><a href="mailto:bob@flying-scot.com" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11817','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Contact" name="Image11817" width="35" height="41" border="0" id="Image11" /></a><a href="mailto:bob@flying-scot.com" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('cntct_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="mailto:bob@flying-scot.com">Contact</a> 
                  </strong> </font> 
                </center>
              </p></td>
          </tr>
        </table>
        
      </center>
      <div align="center">
<p><font size="-1" face="Arial, Helvetica, sans-serif"><strong><a href="../../../../core/welcome.html"><img src="../../../../core/page_images/scot_3dflag.gif" alt="St.Andrews Cross" width="36" height="25" border="0" align="middle" /></a><br />
          <br />
          </strong>Copyright &copy; 1999-2003 R.Reid Last Updated 
          <!-- #BeginDate format:fcEn2m -->Thursday, 16-Oct-2003  17:40<!-- #EndDate -->
          hrs.</font></p>
      </div></td>
  </tr>
</table>
<p align="center">&nbsp;</p>
</body>
</html>
