<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>F.B. - Fratelli Brivio</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script language="JavaScript" type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

//-->
</script>
<meta name="Keywords" content="the flying scot, the scot, scot, the flying scott, the scott, scott, bicycle, cycle, classic bicycle, classic cycle, lightweight cycle, lightweight bicycle, glasgow, scotland, framebuilders, cycle manufacturer, david rattray, rattray, jack smith, scottish, campagnolo, masi, campagnolo, simplex,  " />
<meta name="Description" content="This site is dedicated to Scotland's one and only medium sized specialist lightweight cycle builder, David Rattray & Co. For over 60 years the supplied many of Scotlands cyclist with what was considered  then as being high-end cycle frames and accessories." />
<script language="JavaScript" type="text/javascript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body bgcolor="#000040" background="../../../../common/images/fadeback.gif" text="#CCFFFF" link="#CCCCFF"
vlink="#CCCCFF" alink="#CCCCFF" onload="MM_preloadImages('../../../../core/page_images/button_brt.gif')">
<table width="700" border="0" align="center">
  <tr> 
    <td width="700" valign="top"> 
      <p align="center"><font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html"><img src="../../../../core/page_images/page_blk_tfr_dk.gif" alt="Scot Banner"
      width="500" height="56" border="0" align="middle" naturalsizeflag="3" /></a><br />
        <br />
      </strong></font></p>
      <table width="700" border="0" cellspacing="5">
        <tr>
          <td valign="top">
<div align="justify"> 
              <p align="center"><img src="../images/ambra_superga_hub.jpg" width="600" height="807" /><font size="-1" face="Verdana, sans-serif"><br />
                <br />
                </font></p>
            </div></td>
        </tr>
      </table>
      <p align="left">F.B. was the mark of the company ; Fratelli Brivio S.A. 
        of 9 Viale Italia, Brescia, Italy.</p>
      <p align="left"><img src="../images/fb_pat_hub.gif" width="350" height="147" align="left" />F.B. 
        patented and produced a method of manufacturing the '3-piece<strong><font size="-1" face="Verdana, sans-serif">' 
        </font></strong><font size="-1" face="Verdana, sans-serif">aluminium 
        alloy flanged and steel bodied hub, based on their British &amp; French 
        &amp; Patents of 21 &amp; 23 September 1931 (Published 5 April, 1932) 
        applied for by Camillo Brivio, an Italian National.<br />
        <br />
        </font></p>
      <table width="700" border="0" align="center" cellspacing="5">
        <tr>
          <td><div align="center"></div></td>
        </tr>
      </table>
      <p align="left"><font size="-1" face="Verdana, sans-serif"> </font></p>
      <p align="left">F.B. made hubs can be seen stamped with Bianchi, Campagnolo, 
        Simplex, Olmo, Maino, Atala, Legnano, Wilier, Pinarello, Ciclo Piave etc.</p>
      <p>Tullio Campagnolo patented the original quick release in 1933, under 
        the Italian Patent No. 319062 (Applied for 4 May 1933 - Released 28 June 
        1934) - CHAIN-TENSIONING BOLT FOR BICYCLES.&quot; The patent drawing shows 
        a<br />
        toothed dropout, long handled quick release and hub with two-sprocket 
        freewheel on each side of the hub.</p>
      <p align="left">- Tullio Campagnolo invented the quick release in the early 
        1930s. This required a hollow axle. He didn't make hubs early on. He supplied, 
        sold or licensed his axle / quick release to hub manufacturers (and consumers?) 
        to convert their solid axle / wing nut equipped hubs to QRs.</p>
      <p>&nbsp;</p>
      <p>Here's the entry in the Timeline:<br />
        &quot;1933 - After fabricating parts in the backroom of his father's hardware<br />
        store, Tullio starts Campagnolo, S.R.L. with the production of the quick<br />
        release hub. The sliding hub, dual seatstay rod operated, back pedal<br />
        derailleur (cambio prototype) is patented on May 4th and introduced in<br />
        August. The pieces of the derailleur are all handmade requiring a<br />
        massive investment of time and labor. F.B. (Fratelli Brivio) is the<br />
        subcontractor for the hubs. <br />
        1940 - Tullio Campagnolo hires his first fulltime employee, Enrico Piccolo.&quot;</p>
      <p>Long story short: Campagnolo-branded hubs probably date to 1933. I<br />
        think that the first actual Campagnolo-made hubs were the Record<br />
        one-piece alloy, small and large flange hubs (oval holes in flanges and<br />
        oil hole clip) introduced in 1958.<br />
      </p>
      <p>A while ago, I suggested that Campagnolo may have bought FB (the hub 
        maker).</p>
      <p>Recently, I asked Ernest Csuka, of Cycles Alex Singer, who had <br />
        mentioned this initially. He believes that sometime around the late <br />
        1940s, after the three-piece Campagnolo hubs came out, FB was bought <br />
        by Campagnolo outright. However, the details are sketchy. Ernest <br />
        believes that the hubs labeled Campagnolo were made in the FB <br />
        factory, but after Campagnolo bought them. When I pointed out that FB 
        <br />
        also appears to have made hubs for other companies with their names, <br />
        he was not surprised.</p>
      <p>Clearly, for Singer, what counted was that they bought the hubs, and 
        <br />
        that they remained relatively unchanged. The check went to FB (in <br />
        France - their factory there, which, according to Ernest, later <br />
        became the French distribution center for Campagnolo), but whether <br />
        they were owned by Campagnolo or not didn't really matter.</p>
      <p>Having raised the issue initially, I just wanted to provide this <br />
        update. Does anybody else have more/precise information?</p>
      <p>Jan Heine, Seattle<br />
      </p>
      <p>I can categorically state that the your previous claim as to the French 
        <br />
        nationality of FB and the newest response given by Ernest Csuka are not 
        <br />
        correct. FB is not French, nor has it ever been French. Like Lygie and 
        <br />
        Campagnolo, they simply saw the benefits of producing the products for 
        <br />
        the French market in France to avoid the protective tariffs then in <br />
        effect. Simplex did the same for the Italian market, producing their <br />
        gears in Italy. This obviously does not make Simplex an Italian <br />
        company. These foreign production realities continued as long as <br />
        punitive tariffs remained in effect. It would obviously be mutually <br />
        beneficial for two small companies like FB and Campagnolo to produce <br />
        for the French market in the same factory where possible, especially as 
        <br />
        they had already collaborated in Italy beforehand. Once the tariffs <br />
        were removed, it is also logical that the bigger of the two companies 
        <br />
        would be more likely interested in maintaining the existing premises. 
        <br />
        By the mid-50's this was clearly Campagnolo, notwithstanding the fact 
        <br />
        that FB produced many products beyond their hubs (They were also major 
        <br />
        producers of cranks.) </p>
      <p>Csuka's belief that Campagnolo bought FB outright could therefore <br />
        perhaps have been partially correct, were he refering to the French <br />
        factory/premises only. FB and Campagnolo production continued in a <br />
        parallel manner for many years. While production was parallel, FB was 
        <br />
        however also fully independant of Campagnolo as can be proven by the <br />
        fact that in the early 50's Emilio Bozzi catalog that Chuck is selling, 
        <br />
        you can see FB hubs being supplied with SIMPLEX quick release levers <br />
        (see page 121).</p>
      <p>I believe a more interesting point would be to verify whether the FB 
        <br />
        and Campagnolo hubs are indeed identical. While the parts seem to be <br />
        interchangeable, there were so many variations in the 3-piece hubs that 
        <br />
        I am unsure that the two companies ever sold identical hubs at the same 
        <br />
        time. Some oldtimers in Italy have told me that FB provided Campagnolo 
        <br />
        the flanges only. Clearly I can't prove this, so this statement will <br />
        need to remain 'fiction'. I can however state that FB-branded hubs <br />
        locknuts did not carry the same date codes as Campagnolo-branded hubs. 
        <br />
        I can also state that most Campagnolo-branded hubs had FB-marked <br />
        flanges that clearly stated their Italian provenance. The same 'made in 
        <br />
        Italy' mark can also be seen on the FB hubs.</p>
      <p>Another topic that has been brought up is the 'hub patent' that <br />
        Campagnolo held. Campagnolo did not own a patent for a hub, but <br />
        originally only the cam-operated quick release. They then added the <br />
        serrated cambio corsa axle, but to the best of my knowledge, that is it 
        <br />
        with regards to pre-1955 hub-related patents. It is also interesting to 
        <br />
        point out a bit of Campagnolo trivia. Campagnolo's official corporate 
        <br />
        name for many years was (and maybe still is) Campagnolo Brevetti <br />
        Internazionali SpA which translates into: Campagnolo International <br />
        Patents Inc. No mention of cycling whatsoever. I think that Tullio <br />
        earned much of his start-up capital for the launch of the Gran Sport <br />
        derailleur and such from his patents and always recognized the <br />
        importance of his patents. It is also often said in Italian cycling <br />
        circles that Tullio's initial Q/R invention was perhaps just as much <br />
        the merit of foresight in patenting an idea as it was of actually being 
        <br />
        the first to think of and produce said idea. It was mentioned that <br />
        Gnutti and FB were licensed to use the Campagnolo patent. This does not 
        <br />
        concur with what I have always been told. Gnutti definitely did pay <br />
        licensing rights to Campagnolo for their skewer patent. This can be <br />
        proven by a skewer I recently supplied to another listmember with an <br />
        Arbos frame. It clearly states Gnutti Lic. Campagnolo on the lever. FB 
        <br />
        on the other hand never made any skewers with their own brand name.</p>
      <p>Steven Maasland<br />
      </p>
      <p>I<br />
      </p>
      <p>&gt; What was patented? </p>
      <p>&nbsp;</p>
      <p>&gt; Was it patented in all countries? </p>
      <p>Don't know.</p>
      <p>&gt; When did Campagnolo first appear on a hub rather than FB?</p>
      <p>FB supplied hubs branded with &quot;Campagnolo&quot; along with many 
        other bike<br />
        and parts manufacturer's names from at least the late-1940s (if not<br />
        earlier), clear up through the 1960s (even stamped SIMPLEX).</p>
      <p>&gt; Who made the early Campagnolo branded hubs? </p>
      <p>FB (Fratelli Brivio - Italy). I'm reasonably sure that the first hub<br />
        that Campagnolo made in house was their all aluminum Record hub<br />
        beginning in 1958.</p>
      <p>&gt; When did other QR hubs appear? (I know that the BH one appeared 
        in the <br />
        early fifties.)</p>
      <p>There were also EB (not a typo, &quot;E&quot;) and Gnutti QR levers with 
        &quot;Lic.<br />
        Campagnolo&quot; forged on them in the early 1950s or even before.</p>
      <p>&nbsp;</p>
      <p></p>
      <p>&nbsp; </p>
      <p>&nbsp; </p>
      <p>&nbsp; </p>
      <p>&nbsp; </p>
      <p>&nbsp; </p>
      <p align="left"><font size="-1" face="Verdana, sans-serif"><strong> 
        <br />
        </strong></font> </p>
      <p align="center"><font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/articles.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_butn1','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="home_butn" name="home_butn1" width="35" height="34" border="0" id="home_butn" /><br />
        </a><a href="../../../../core/articles.html">Return to Articles Page</a> </strong></font></p>
      <div align="center"> 
        <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr> 
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="home_butn" name="home_butn" width="35" height="34" border="0" id="home_butn" /><br />
                  </a><a href="../../../../core/welcome.html">Home</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/history.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('hist_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="History" name="hist_butn" width="35" height="34" border="0" id="hist_butn" /><br />
                  </a><a href="../../../../core/history.html">History</a> </strong></font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/models.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('modls_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Models" name="modls_butn" width="35" height="34" border="0" id="modls_butn" /><br />
                  </a><a href="../../../../core/models.html">Models</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/gallery.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('glry_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Gallery" name="glry_butn" width="35" height="34" border="0" id="glry_butn" /><br />
                  </a><a href="../../../../core/gallery.html">Gallery</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/identify.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('idntfy_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Identify" name="idntfy_butn" width="35" height="34" border="0" id="idntfy_butn" /><br />
                  </a><a href="../../../../core/identify.html">Identify</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/articles.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('art_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Articles" name="art_butn" width="35" height="34" border="0" id="art_butn" /><br />
                  </a><a href="../../../../core/articles.html">Articles</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/links.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('lnks_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Links" name="lnks_butn" width="35" height="34" border="0" id="lnks_butn" /><br />
                  </a><a href="../../../../core/links.html">Links</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="mailto:bobreid@flying-scot.com" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('cntct_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Contact" name="cntct_butn" width="35" height="34" border="0" id="cntct_butn" /><br />
                  </a><a href="mailto:bobreid@flying-scot.com">Contact</a> 
                  </strong> </font> 
                </center>
              </p></td>
          </tr>
        </table>
        <p><font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html"><img src="../../../../core/page_images/scot_3dflag.gif" alt="St.Andrews Cross" width="36" height="25" border="0" align="middle" /></a><br />
          <br />
          </strong>Copyright &copy; 1999-2003 R.Reid Last Updated 
          <!-- #BeginDate format:fcEn2m -->Saturday, 20-Dec-2003  10:21<!-- #EndDate -->
          hrs.<strong><br />
          </strong></font></p>
      </div></td>
  </tr>
</table>
<p></p>
</body>
</html>
