<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Rattray's Patented Headset</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="the flying scot, the scot, scot, the flying scott, the scott, scott, bicycle, cycle, classic bicycle, classic cycle, lightweight cycle, lightweight bicycle, glasgow, scotland, framebuilders, cycle manufacturer, david rattray, rattray, jack smith, scottish, campagnolo, masi, campagnolo, simplex,  " />
<meta name="Description" content="This site is dedicated to Scotland's one and only medium sized specialist lightweight cycle builder, David Rattray & Co. For over 60 years the supplied many of Scotlands cyclist with what was considered  then as being high-end cycle frames and accessories." />
<script language="JavaScript" type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

//-->
</script>
<script language="JavaScript" type="text/javascript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body bgcolor="#F4F4FF" background="../../../../common/misc/lilac_thistle.jpg" text="#000066" link="#990099"
vlink="#990099" alink="#990099" onload="MM_preloadImages('../../../../common/buttons/badge_brt.gif','../../../../core/page_images/button_brt.gif')">
<table width="750" border="0" align="center">
  <tr> 
    <td valign="top"> <p align="center"><font size="-1" face="Verdana, sans-serif"><img src="../../../../common/misc/page_blk_tfr.gif" alt="Header" width="500" height="56" /><br />
        <br />
        <strong>RATTRAY'S PATENTED HEADSET</strong></font></p>
      <center>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><img src="../../patents/767350_cut.gif" alt="Rattray's Headset" width="427" height="361" align="bottom" /><br />
          </font></p>
        <div align="center"> 
          <table border="0" width="684">
            <tr> 
              <td> <p align="justify"><font size="-1" face="Verdana, sans-serif">The 
                  traditional type of headset is adjusted by tightening or slackening 
                  of the top race . Once adjusted it is fixed in place by a lock 
                  nut. To prevent movement and slackening of the headset, a keyed 
                  flat washer is used between the two components. Even with correct 
                  assembly and adjustment, vibration in use has a tendency to 
                  slacken the headset over time, introducing play into the whole 
                  steering assembly. Various attempts have been made to modify 
                  the method of locking, including the use washers with serration's 
                  matched to similar serration's in the adjustable top race.<br />
                  <br />
                  </font><font size="-1" face="Verdana, sans-serif">In 
                  an effort to reduce this problem, Jack Smith redesigned the 
                  assembly by modifying both the top race and the lock nut as 
                  shown above. The top race was modified by the addition of a 
                  tapered extension, around which six radial slots were cut and 
                  when compressed by the lock nut, that was coned internally to 
                  match, forced the top edges of the extension into the threads 
                  of the fork stem, locking it in place.<br />
                  <br />
                  </font><font size="-1" face="Verdana, sans-serif">Whilst 
                  in October 1954, Rattray's applied for and were subsequently 
                  granted a UK patent, it never gained universal acceptance or 
                  for that matter replaced the traditional assembly. Interestingly 
                  though, at the Earl's Court Show in London in (November) 1954, 
                  Brampton Cycle Fittings Ltd. showed a variant of their "Alatet" 
                  headset, that used the same slotted extension as in the patent 
                  application. The connection between the two is not known as 
                  yet. The full specification for the Patent is shown below, as 
                  well as the Brampton Alatet headset. The headset was also successfully 
                  patented in France (No. 1129,389).</font></p>
                </td>
            </tr>
          </table>
        </div>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><img src="../../patents/767350_p1.gif" alt="Patent Page 1" width="700" height="1008" border="1" align="bottom" /><br />
          </font></p>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><img src="../../patents/767350_p2.gif" alt="Patent Page 2" width="700" height="879" border="1" align="bottom" /><br />
          </font></p>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><img src="../../patents/767350_p3.gif" alt="Patent Page 3" width="677" height="1045" border="1" align="bottom" /></font></p>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><b>Brampton 
          Cycle Fittings Ltd.</b></font></p>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><b>ALATET 
          Head Fitting (1954)</b></font></p>
        <p align="center"><font size="-1" face="Verdana, sans-serif"><img src="../images/alatet2.gif" alt="Alatet" width="200" height="328" align="bottom" /><br />
          </font><font size="-1" face="Verdana, sans-serif"><br />
          <strong><a href="../../../../core/articles.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image118','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Articles" name="Image118" width="35" height="41" border="0" id="Image11" /></a></strong><br />
          <a href="../../../../core/articles.html">Return to Articles Page</a></font> </p>
        <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr> 
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1181','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Home" name="Image1181" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/welcome.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/welcome.html">Home</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/history.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11811','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="History" name="Image11811" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/history.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('hist_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/history.html">History</a> </strong></font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/models.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11812','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Models" name="Image11812" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/models.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('modls_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/models.html">Models</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/gallery.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11813','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Gallery" name="Image11813" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/gallery.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('glry_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/gallery.html">Gallery</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/identify.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11814','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Identify" name="Image11814" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/identify.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('idntfy_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/identify.html">Identify</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/articles.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11815','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Articles" name="Image11815" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/articles.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('art_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/articles.html">Articles</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/links.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11816','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Links" name="Image11816" width="35" height="41" border="0" id="Image11" /></a><a href="../../../../core/links.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('lnks_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="../../../../core/links.html">Links</a> </strong> </font> 
                </center>
              </p></td>
            <td width="80" nowrap="nowrap"> <p> 
                <center>
                  <font size="-1" face="Verdana, sans-serif"><strong><a href="mailto:bobreid@flying-scot.com" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11817','','../../../../common/buttons/badge_brt.gif',1)"><img src="../../../../common/buttons/badge_dull.gif" alt="Contact" name="Image11817" width="35" height="41" border="0" id="Image11" /></a><a href="mailto:bobreid@flying-scot.com" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('cntct_butn','','../../../../core/page_images/button_brt.gif',1)"><br />
                  </a><a href="mailto:bobreid@flying-scot.com">Contact</a> 
                  </strong> </font> 
                </center>
              </p></td>
          </tr>
        </table>
        
      </center>
      <div align="center">
<p><font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html"><img src="../../../../core/page_images/scot_3dflag.gif" alt="St.Andrews Cross" width="36" height="25" border="0" align="middle" /></a><br />
          <br />
          </strong>Copyright &copy; 1999-2003 R.Reid Last Updated 
          <!-- #BeginDate format:fcEn2m -->Thursday, 16-Oct-2003  17:40<!-- #EndDate -->
          hrs.</font></p>
      </div></td>
  </tr>
</table>
<p align="center">&nbsp;</p>
</body>
</html>
