<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Flying Scot - Classic Articles</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="the flying scot, the scot, scot, the flying scott, the scott, scott, bicycle, cycle, classic bicycle, classic cycle, lightweight cycle, lightweight bicycle, glasgow, scotland, framebuilders, cycle manufacturer, david rattray, rattray, jack smith, scottish, campagnolo, masi, campagnolo, simplex,  " />
<meta name="Description" content="This site is dedicated to Scotland's one and only medium sized specialist lightweight cycle builder, David Rattray & Co. For over 60 years the supplied many of Scotlands cyclist with what was considered  then as being high-end cycle frames and accessories." />
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body bgcolor="#000033" background="../../../../common/images/fadeback.gif" text="#FFFFFF" link="#ccccff"
vlink="#ccccff" alink="#ccccff" onload="MM_preloadImages('../../../../core/page_images/button_brt.gif')">
<table width="750"  border="0" align="center" cellspacing="5">
  <tr>
    <td align="left" valign="top"><div align="left">
      <p><font face="Verdana, sans-serif"><img src="../../../../core/page_images/page_blk_tfr_dk.gif" width="500" height="56" align="top" /></font></p>
    </div></td>
  </tr>
  <tr align="left" valign="middle">
    <td><div align="left"><font color="#FDCEEC" size="6" face="Verdana, sans-serif"><strong>Technical</strong></font></div></td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="left">
      <p><font face="Verdana, sans-serif"><em><strong>Woods / Dunlop Valves <br />
      </strong></em></font></p>
      </div></td>
  </tr>
  <tr>
    <td valign="top"><br />      <table width="739" border="0">
      <tr>
          <td><div align="center"><strong><font size="-1" face="Verdana, sans-serif"><img src="../images/scot_vs3.gif" width="100" height="225" align="top" /></font></strong></div></td>
          <td><font size="-1" face="Verdana, sans-serif">In the UK up t the mid 1970's, most tyres (and not just those for day-to-day use), used 'Woods' valves. Exceptions were with high pressure "Presta&quot; Valves and some other bikes fitted with Schrader. With the demise of 26" wheeled "racers" and the advent of more universal fitment of 27" wheels, these valves all but disappeared. Today Woods with the exception of a tiny number of imported 3-speeds, are no long "Original Equipment" fitment on any bike sold in the UK. For originality in a classic restoration, Woods type valves are still available. Both Schwalbe and Michelin produce quality versions, though generally only for 26" 'inch' sizes - 1.1/4 - 1.3/8 etc.<br />
              <br />
          </font><font size="-1" face="Verdana, sans-serif">For a description of Woods Valve operation, I've taken an extract form the annual (1939) edition of "Cycling" magazines "Cycling Manual" :-<br />
              <br />
          </font><font size="-1" face="Verdana, sans-serif">".<i>.....The air passes from outside into a long hollow plug, in the side of which is a small hole. Over this plug is stretched a length of very narrow rubber tubing, known as valve tubing, that passes over the shoulder of the plug, and is held there tightly at the end by the pressure of the plug, which is screwed into the hollow stem. The air forces its way through the hole in the plug, and lifts the rubber sufficiently to pass under it and so into the tyre. But immediately each impulse of air has passed through, the rubber resumes its close grip of the plug, effectively closing the small hole in the side. Moreover, the air in the tyre now presses the rubber and adds to the firmness of the grip......"</i></font></td>
          <td><div align="center"><strong><font size="-1" face="Verdana, sans-serif"><img src="../images/woodscut.gif" width="145" height="350" align="top" /></font></strong></div></td>
        </tr>
      </table>    
      <p align="justify"><font size="-1" face="Verdana, sans-serif">Woods' pattern valves are recognised by the short length of rubber tubing attached to the valve stem. In addition both the valve body and stem were keyed together to prevent rotation.</font></p>
      <p align="center"><font size="-1" face="Verdana, sans-serif"><img src="../images/scot_vs1.gif" width="600" height="84" border="0" align="bottom" /></font></p>
      <p align="justify"><font size="-1" face="Verdana, sans-serif">These valves were exceptionally good at retaining air in the tyres. They did not, unlike Presta and Schrader valves, tend to suffer from the ingress of dirt. In fact they were so good at retaining air that it was also their downside. Internal pressure on the rubber tube and hardening of the rubber through age, meant that topping up with air or deflating the tyre could become very difficult. Various attempts were made to solve these problems. Dunlop introduced (in the 1930's I think) finer rubber tubing, Two holes were tried in the stem, and finally so-called "express" valves arrived.</font></p>
      <table width="739" border="0">
        <tr>
          <td><strong><font size="-1" face="Verdana, sans-serif"><img src="../images/scot_vs2.gif" width="150" height="173" hspace="5" align="left" /></font></strong><font size="-1" face="Verdana, sans-serif">Express valves operate on the same principle as Schraders, using a separate core in the valve stem to act as a non-return valve, internal pressure closing off a separate valve and preventing air coming back out of the tube. These were offered as a replacement accessory at first - both by Dunlop (Easypump) and other companies for example Belvin (Alligaro) before becoming today's de-facto "Woods" or "Dunlop" valve. With the changeover came the demise of that little bit of rubber often found in Puncture repair outfits.<br />
            <br />
          Inflating any tyre fitted with a Woods valve tube is in theory simply a matter of removing the dust cap, and blowing up with a pump. More often than not however, the valve rubber sticks to the valve body needing an extra hard 'pump' initially to unstick it ! Note that any traditional flexible valve connector for Presta valves can be used on a Woods, but those designed for Woods only - recognisable by a small shoulder on the inside of the threaded connector - don't work on Presta's. Getting the air back out is achieved by slackening the valve body nut a turn or two - and sometimes is helped by lifting the valve stem. If all else fails take the valve nut off altogether-whilst holding onto that stem !          </font></td>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td valign="top"><font color="000033" size="-1" face="Verdana, sans-serif"><em><strong>I</strong></em></font></td>
  </tr>
  <tr>
    <td><div align="justify">
      <div align="center">        </div>
      </div></td>
  </tr>
  <tr>
    <td><div align="center">
      <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="80" nowrap="nowrap">
            <p>
              <center>
                <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="home_butn" name="home_butn" width="35" height="34" border="0" id="home_butn" /><br />
                </a><a href="../../../../core/welcome.html">Home</a> </strong> </font>
              </center>
          </p></td>
          <td width="80" nowrap="nowrap">
            <p>
              <center>
                <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/history.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('hist_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="History" name="hist_butn" width="35" height="34" border="0" id="hist_butn" /><br />
                </a><a href="../../../../core/history.html">History</a> </strong></font>
              </center>
          </p></td>
          <td width="80" nowrap="nowrap">
            <p>
              <center>
                <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/models.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('modls_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Models" name="modls_butn" width="35" height="34" border="0" id="modls_butn" /><br />
                </a><a href="../../../../core/models.html">Models</a> </strong> </font>
              </center>
          </p></td>
          <td width="80" nowrap="nowrap">
            <p>
              <center>
                <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/gallery.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('glry_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Gallery" name="glry_butn" width="35" height="34" border="0" id="glry_butn" /><br />
                </a><a href="../../../../core/gallery.html">Gallery</a> </strong> </font>
              </center>
          </p></td>
          <td width="80" nowrap="nowrap">
            <p>
              <center>
                <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/identify.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('idntfy_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Identify" name="idntfy_butn" width="35" height="34" border="0" id="idntfy_butn" /><br />
                </a><a href="../../../../core/identify.html">Identify</a> </strong> </font>
              </center>
          </p></td>
          <td width="80" nowrap="nowrap">
            <p>
              <center>
                <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/articles.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('art_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Articles" name="art_butn" width="35" height="34" border="0" id="art_butn" /><br />
                </a><a href="../../../../core/articles.html">Articles</a> </strong> </font>
              </center>
          </p></td>
          <td width="80" nowrap="nowrap">
            <p>
              <center>
                <font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/links.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('lnks_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Links" name="lnks_butn" width="35" height="34" border="0" id="lnks_butn" /><br />
                </a><a href="../../../../core/links.html">Links</a> </strong> </font>
              </center>
          </p></td>
          <td width="80" nowrap="nowrap">
            <p>
              <center>
                <font size="-1" face="Verdana, sans-serif"><strong><a href="mailto:bobreid@flying-scot.com" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('cntct_butn','','../../../../core/page_images/button_brt.gif',1)"><img src="../../../../core/page_images/button_dull.gif" alt="Contact" name="cntct_butn" width="35" height="34" border="0" id="cntct_butn" /><br />
                </a><a href="mailto:bobreid@flying-scot.com">Contact</a> </strong> </font>
              </center>
          </p></td>
        </tr>
      </table>
    </div>
      <p align="center"><font size="-1" face="Verdana, sans-serif"><strong><a href="../../../../core/welcome.html"><img src="../../../../core/page_images/scot_3dflag.gif" alt="St.Andrews Cross" width="36" height="25" border="0" align="middle" /></a><br />
              <br />
        </strong><font color="#FF0000" size="-2">'The Flying Scot' website Copyright &copy; 1999-2005 Bob Reid, Last Updated
        <!-- #BeginDate format:fcEn2m -->Wednesday, 18-Aug-2004  7:34<!-- #EndDate -->
  hrs.</font></font></p></td>
  </tr>
</table>
<p align="center">&nbsp;</p>
<div align="center"></div>
</body>
</html>
