.header {
	font-family: Verdana, sans-serif;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFCCFF;
}
.sub_header {
	font-family: Verdana, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 1.75;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
}
.header_red {
font-family: Verdana, sans-serif;
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF0000;
}
.body_text {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 1.75;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #FFFFFF;
}
.caption {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 1.75;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CCFFFF;
}
.site_rights {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 1.75;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CCFFFF;
}
.highlight_text {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 1.75;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #66FFFF;
}
.large_bold_text {
	font-family: Verdana, sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: 1.75;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #66FFFF;
}
.body_italic {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	line-height: 1.75;}
a:link {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: #CCFFFF;
	line-height: 1.75;
}
a:visited {
	font-family: Verdana, sans-serif;
	font-size: 80%;
	font-weight: bold;
	text-decoration: underline;
	color: #CCFFFF;
	line-height: 1.75;
}
a:hover {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: #CCFFFF;
	line-height: 1.75;
}
a:active {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: #CCFFFF;
	line-height: 1.75;
}
.body_caps {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 1.75;
}
.background {background-image:url(../page_images/blue_thistle.jpg)

}
